/* public/css/styles.css */

/* Make the navbar black */
.navbar {
    background-color: black;
    
  }
  nav{
    font-family: Poppins,Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
  }
  
  /* Apply red underline on hover for dropdown options */
  .custom-dropdown .nav-item.dropdown:hover .nav-link,
  .custom-dropdown .nav-item.dropdown:hover .dropdown-menu a.dropdown-item {
    text-decoration: underline;
    text-decoration-color: red;
  }
  
  /* Remove default Bootstrap styles for the dropdown items */
  .custom-dropdown .dropdown-menu a.dropdown-item {
    color: white; /* Set the default color for the dropdown items */
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255)! important;
}
  
  /* Apply red color to the dropdown items on hover */
  .custom-dropdown .dropdown-menu a.dropdown-item:hover {
    color: red;
  }
  